* {
  margin: 0;
  font-family: $font-main;
  /* font smoothing 모질라 - font가 좀더 부드럽게 처리되는 컴퓨터에는 적용됨. */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  font-family: $font-main;
  font-size: $font-size-16;
}

body {
  font-family: $font-main;
  color: $primary;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  /* white로 해도 되지만 투명으로 해도 좋다 */
  background-color: transparent;
  /* border:none으로 해도 되지만 0으로 하면 좀 더 시크해 보인다 */
  border: 0;
  /* button:focus, 
    input:focus,
    select:focus,
    textarea:focus를 sass 문법으로 쓰면.. <<&:focus>>로 할 수 있다.*/
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

a,
button,
select {
  cursor: pointer;
}

button {
  padding: 0;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}
