/* Sass에서 제공하는 placehoder(%)를 사용 : mixin처럼 반복되는 코드를 사용하지 않겠다. 
그럼 용도는 ? 플레이스홀더는 인자를 받을 수 없다. 확장성이 떨어짐. 
연관되어 있는 친구들끼리 공동스타일이 있을 때 상속받는 식으로 작업한다.*/
%tag-base {
  //공통 스타일
  @include inline-flexbox;
  @include text-style(12);
  height: 20px;
  padding: 0 6px;
  font-size: 700;
  border-radius: 4px;
}

.tag-red {
  //placeholder를 사용하기 위해선 include가 아닌 extend를 사용한다.
  @extend %tag-base;
  color: $white;
  background-color: $red;
}

.tag-green {
  @extend %tag-base;
  color: $white;
  background-color: $green;
}

.tag-gray {
  @extend %tag-base;
  color: $secondary;
  background-color: $border;
}
