/*  (( Responsive Grid System ))
* MOBILE Break-Point (<768px) ----------------------------------------
* fixture(별명)                   sm
* # of columns                    4                              
* gutter                          20px
* margin                          5px
* container-size                  100% -(5px*2)  

* TABLET Break-Point (>=768px) ---------------------------------------
* fixture(별명)                   md
* # of columns                    12                              
* gutter                          20px
* margin                          30px
* container-size                  100% -(30px*2) - unit값이 고정적이지 않다.
* max-container-size              960px

* DESKTOP Break-Point (>=1200px) --------------------------------------
* fixture(별명)                   lg
* # of columns                    12                              
* gutter                          20px
* unit                            75px 
* margin                          auto - 화면 크기에 따라 알아서 늘어나고 줄어듬.
* container-size                  1140px - unit 값이 고정적이다.
* max-container-size              1140px
*/

$gutter: 20px;

$sm-columns: 4;
$sm-margin: 5px;

$md-columns: 12;
$md-margin: 30px;
$md-max-container: 960px + $md-margin * 2;

$lg-columns: 12;
$lg-unit: 75px;
$lg-max-container: ($lg-unit + $gutter) * $lg-columns;

/* container : 그리드가 시작하는 영역을 잡아주는 친구*/
.container {
  width: 100%;
  /* MOBILE Break-Point (<768px) */
  padding: 0 $sm-margin;
  margin: 0 auto;

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  // .col-sm-1 .col-md-2 .col-lg-3 : col-은 항상 양옆에 margin을 갖기에 padding을 준다.
  [class^='col-'] {
    padding: 0 $gutter/2;
  }

  @for $i from 1 through $sm-columns {
    .col-sm-#{$i} {
      width: percentage($i/ $sm-columns);
    }
  }

  /* TABLET Break-Point (>=768px) */
  @include responsive(T) {
    max-width: $md-max-container;
    padding: 0 $md-margin;

    @for $i from 1 through $md-columns {
      .col-md-#{$i} {
        width: percentage($i/$md-columns);
      }
    }
  }

  /* DESKTOP Break-Point (>=1200px */
  @include responsive(D) {
    max-width: $lg-max-container;
    padding: 0;

    @for $i from 1 through $lg-columns {
      .col-lg-#{$i} {
        width: ($lg-unit + $gutter) * $i;
      }
    }
  }
}
